ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color:white;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: purple;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-shadow: 2px 2px 8px darkgrey;
} 

li a:active {
    text-shadow: 2px 2px 8px darkgrey;
    color: tomato;
} 

/* .navbar {
    position: sticky;
    top: 0;  
} */
