.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: flex-start;
    /* margin-top: 2rem; */
    padding: 5px;
    padding-top: 2rem;
    
    
}


.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}


.navbar__link   {
    padding: 1rem;
}

img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-right: 1rem;
}

a:hover {
    text-shadow: -8px 3px 5px  darkgrey
}