.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    padding: 5px;
}


.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    
}

.navbar__link   {
    padding: 1rem;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}